{{yield}}

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>New Story</h1>
      <div class="well">
        <form>
          <div class="form-group">
            <label for="">Title</label>
            <div class="">
              {{input value=title type="text" id="title"}}
            </div>
          </div>
          <div class="form-group">
            <label for="">Author</label>
            <div class="">
              {{input value=author type="text" id="author"}}
            </div>
          </div>
          <div class="form-group">
            <label for="">Content</label>
            <div class="">
              {{textarea value=content cols="70" rows="14" id="content"}}
            </div>
          </div>
          <div class="form-group">
            <label for="">Image URL</label>
            <div class="">
              {{input value=img_url type="text" id="img_url"}}
            </div>
          </div>
          <div class="form-group">
            <label for="">Post Date</label>
            <div class="">
              {{input value=post_date type="text" id="post_date"}}
            </div>
          </div>
          <div class="form-group">
            <label for="">Headline?</label>
            {{input checked=headline type="checkbox" id="headline"}}
          </div>
          <div class="form-group">
            {{#if showSubmit}}
              <button class="btn btn-primary" {{action 'save'}}>Submit</button>
            {{/if}}
          </div>
          <div class="form-group">
            {{#if showSave}}
              <button type="button" class="btn btn-info" id="saveButton" name="button"{{action 'updateSave'}}>Save</button>
            {{/if}}
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-6">
        <h1 for="">Existing Stories</h1>
        <div class="well">
          <label for="">Story</label>
          {{#each stories as |story|}}
            <div class="container">
              <span><b>{{story.title}}</b></span>
            </div>
            <div class="container">
              <a href="#" {{action 'destroyStory' story}}>Delete</a>
              <a href="#" {{action 'editStory' story}}>Edit</a>
            </div>
          {{/each}}
          <label for="">Headline</label>
          {{#each headlines as |headline|}}
            <div class="container">
              <span><b>{{headline.title}}</b></span>
            </div>
            <div class="container">
              <a href="#" {{action 'destroyHeadline' headline}}>Delete</a>
              <a href="#" {{action 'editHeadline' headline}}>Edit</a>
            </div>
          {{/each}}
        </div>
    </div>
  </div>
</div>
